---
import Layout from '../../Layout/Layout.astro';
import JobBoard from '../../components/JobBoard.astro';
---

<Layout title='Careers'>
  <main>
    <!-- Hero Section -->
    <section
      id='about'
      class='relative mt-0 sm:mt-0 min-h-[35vh] sm:min-h-[70vh] bg-cover bg-center'
      style="background-image: url('/img/11.jpg');">
      <!-- Overlay -->
      <div class='absolute inset-0 bg-black/40'></div>

      <!-- Only H2 -->
      <div
        class='absolute z-10 flex items-end justify-start h-full px-6 pb-8 sm:pb-12 lg:pb-16'>
        <h2 class='text-3xl sm:text-6xl font-extrabold text-white'>Careers</h2>
      </div>
    </section>
    <!-- Breadcrump -->
    <div class='max-w-4xl mx-auto px-2 md:px-4 py-8'>
      <a
        href='/get-involved'
        class='text-accent hover:underline text-sm font-medium'>← Back</a
      >
    </div>

    <!-- Current Openings -->
    <JobBoard />
  </main>
</Layout>
