---
import  '../../../styles/global.css';
import ApplicationsAdminDashboard from '../../../react-islands/ApplicationsAdminDashboard';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications Admin | SPMH</title>
</head>
<body>
      <ApplicationsAdminDashboard client:load />

</body>
</html