---
// src/pages/tenders/apply.astro
import '../../../styles/global.css';
import TenderApplicationForm from '../../../components/TendersApplicationForm';

const tenderCode = Astro.url.searchParams.get('tender') || '';
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Apply for Tender</title>
  </head>
  <body>
    <main class='bg-[var(--color-surface)] min-h-screen py-16 px-4'>
      <TenderApplicationForm client:load tenderCode={tenderCode} />
    </main>
  </body>
</html>
