@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@layer base {
  body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1565c0;
  }
}

@layer components {
  .btn-primary {
    @apply inline-block px-5 py-2 rounded-lg text-white bg-primary hover:bg-secondary transition duration-700 ease-in-out shadow;
  }
  .btn-secondary {
    @apply inline-block px-5 py-2 rounded-lg border-2 border-[#125276] text-[#125276] hover:bg-secondary hover:text-white transition duration-700 ease-in-out shadow;
  }
  .btn-tertiary {
    @apply inline-block px-5 py-2 rounded-lg bg-[#d70a0a] text-white  hover:bg-[#b60f0f] font-medium hover:text-shadow-white transition duration-700 ease-in-out shadow;
  }
}

@import 'tailwindcss';

@theme {
    --color-primary: #1565c0; /* Main blue */
    --color-secondary: #125276; /* Deep supportive blue */
    --color-accent: #860f0f; /* Emergency/alert red */  
}

@layer components {
  .spacer-end {
    position: relative;
  }

  .spacer-end::before {
    content: '';
    position: absolute;
    background-color: #1565c0;
    height: 4px;
    width: 8%;
    left: 0;
    bottom: -8px;
    margin: auto;
  }

  .spacer-equal {
    position: relative;
  }

  .spacer-equal::before {
    content: '';
    position: absolute;
    background-color: #125276;
    height: 4px;
    width: 6%;
    /* left: 25%; */
    top: 0;
    bottom: -60px;
    margin: auto;
  }

  .spacer-center {
    position: relative;
    height: 6px;
    /* Optional: adjust as needed */
  }

  .spacer-center::before {
    content: '';
    position: absolute;
    background-color: #1565c0;
    height: 4px;
    width: 8%;
    left: 20%;
    right: 20%;
    bottom: -45px;
    margin: auto;
  }
}
