---
import '../styles/global.css';
import AdminDashboard from '../react-islands/AdminDashboard';
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Admin Dashboard | SPMH</title>
  </head>
  <body>
    <AdminDashboard client:load />
  </body>
</html>
