---
import Layout from '../../Layout/Layout.astro';
---

<Layout title='Leadership'>
  <main>
    <section class='py-10'>
      <div class='mx-auto text-left px-4 md:px-4 max-w-6xl'>
        <a href='/about-us' class='underline mb-5 text-accent'>About us</a>

        <h2 class='text-2xl font-extrabold'>The Organization</h2>
        <p class='py-4 leading'>
          St. Paul's Mission Hospital is a Faith Base Organization was founded
          in the 1960s.
        </p>
      </div>
    </section>
  </main>
</Layout>
