---
import Layout from '../../Layout/Layout.astro';
import SupplierForm from '../../components/SupplierForm.astro';
---

<Layout title='Supplier Registration Form'>
  <main class='bg-gray-50 min-h-screen py-10 px-4'>
    <div class='max-w-4xl mx-auto'>
      <a href='/' class='text-blue-600 hover:underline text-sm font-medium'
        >← Back to Hospital Home</a
      >
    </div>
    <SupplierForm />
  </main>
</Layout>
