<div class='fixed md:bottom-6 md:left-8 z-[100]'>
  <a
    href='/services/patient-affairs'
    class='flex items-center gap-3 px-4 py-3 bg-primary shadow-2xl rounded-full transition-all duration-600'
    aria-label='Patient Feedback'>
    <div class='relative flex items-center justify-center'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2.5'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='w-5 h-5 text-white group-hover:text-white'>
        <path d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z'
        ></path>
      </svg>
    </div>

    <div class='flex flex-col'>
      <span
        class='text-[9px] font-black uppercase tracking-widest text-white leading-none mb-0.5'>
        Feedback
      </span>
      <span
        class='text-[10px] font-bold text-white uppercase tracking-tighter leading-none whitespace-nowrap hidden xs:block'>
        Patient Affairs
      </span>
    </div>
  </a>
</div>
