---
import Navbar from '../components/Navbar.astro';
import HomeFooter from '../components/HomeFooter.astro';
import PatientAffairs from '../components/PatientAffairs.astro';
import '../styles/global.css';
import 'aos/dist/aos.css';
import WhatsappFloat from '../components/WhatsappFloat.astro';
const { title = 'St Pauls Mission Hospital' } = Astro.props;
---

<script>
  import AOS from 'aos';
  AOS.init({
    duration: 800,
    once: true,
  });
</script>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <title>{title}</title>
    <link rel='icon' type='image/svg+xml' href='/file.svg' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      type='text/css'
      href='https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/bold/style.css'
    />
    <script src='https://cdn.tailwindcss.com'></script>
    <!-- in your Layout.astro <head> or before </body> -->
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'
    ></script>
  </head>

  <body>
    <Navbar />
    <slot />
    <PatientAffairs />
    <HomeFooter />
  <WhatsappFloat />
  </body>
  <script src='https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js'
  ></script>
</html>
